@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center flex-grow-0 align-content-center justify-content-center" style="height: 80vh">
    <div>
        <h1 class="display-4">Welcome to Cashier</h1>
    </div>
    <div>
        <p>Ready to go for transaction? Simply click <a asp-page="/Transaction">here</a>.</p>
    </div>
</div>
